.idea-details-page {
  padding: 5rem 2rem 5rem 2rem;
  font-family: 'Libre Baskerville', serif;
}

/* Idea Header design */
.idea-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Icon container */
.icon-container {
  display: flex;
  gap: 15px;
}

/* Edit icon design */
.icon-edit {
  cursor: pointer;
  font-size: 1.5rem;
  color: #007523;
}

/* Like icon design */
.icon-like {
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
  transition: color 0.3s;
}

.icon-like.liked {
  color: #0046a9;
  /* Color when liked */
}

.icon-delete {
  color: #b00101;
}

/* Idea Synopsis Design */
.idea-synopsis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  font-size: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Grid design */
.idea-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.grid-item-details {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


/* Grid item design */
.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 0.1rem 1rem 0.1rem 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Space between items in grid */
.grid-item>div {
  margin-bottom: 5px;
}

/* Space between each details sections */
.details-section {
  margin-top: 20px;
}

/* Details box design */
.details-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Space between title and content */
.details-box>div {
  margin: 0.7rem 0 0.3rem 0.5rem;
}

.grid-item-details>div {
  margin: 0.4rem 0 0.4rem 0.5rem;
}

/* Center the heading for Track Status */
.track-status-section {
  margin-top: 20px;
  text-align: center;
}

/* Center the heading for Track Status */
.track-status-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Track Status container design */
.track-status-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Track Status header/row design */
.track-status-header,
.track-status-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  line-height: 25px;
}

/* Track Status header design */
.track-status-header {
  font-weight: bold;
  padding: 5px;
  background-color: #f0f0f0;
}

/* Track Status cell design */
.track-status-cell {
  flex: 1;
  text-align: left;
  border-right: 1px solid #ddd;
}

/* Remove border on the last cell */
.track-status-cell:last-child {
  border-right: none;
}

.track-status-body {
  display: flex;
  flex-direction: column;
}

/* Horizontal Line */
.comments-separator {
  border-top: 2px solid #ddd;
  margin: 20px 0;
}

.comments-section {
  margin-top: 20px;
}

/* Individual comment styling */
.comment {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px 0;
}

/* Comment header styling (author and date) */
.header-container {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  font-size: 0.875rem;
  color: #333;
}

.header-container strong {
  margin-right: 1rem;
}

/* Comment body styling */
.comment-body {
  margin-bottom: 10px;
  font-size: 0.875rem;
  color: #333;
}

/* Reply container styling */
.replies {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 1px solid #e1e1e1;
  background-color: #f9f9f9;
  /* Slightly different background for replies */
}

/* Individual reply styling */
.reply {
  padding: 8px 15px;
  margin-bottom: 10px;
}

.comment-text-container {
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-size: 0.875rem;
  color: #333;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* Match width to text content */
  width: auto;
  /* Ensure width adjusts to content */
  max-width: 100%;
}

/* Comment input styling */
.comment-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Text field styling */
.comment-textfield {
  width: 100%;
  font-size: 0.875rem;
}

/* Button styling */
.comment-input Button {
  align-self: flex-start;
  margin-top: 10px;
}

/* Reply icon styling */
.comment-actions {
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-actions .MuiButton-root {
  font-size: 0.75rem;
  color: #144d9c;
}

.reply-button {
  color: #ffffff !important;
}

.reply-icon-button {
  display: flex;
  justify-content: flex-end;
}

.margin-left {
  margin-left: 0.5rem !important;
}

.margin-top {
  margin-top: 0.5rem;
}

.reply-textfield {
  display: flex !important;
}

.header-container em {
  font-style: normal;
  color: #797979;
  font-size: smaller;
  margin-top: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.links-container {
  display: block;
  flex-wrap: wrap;
  gap: 10px;
}

.link-source {
  margin: 0.7rem 0 0.3rem 0.5rem;
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  display: block;
}

.link-source:hover {
  text-decoration: underline;
}