.navbar {
  display: flex;
  padding: 1rem 2rem;
  font-family: 'Libre Baskerville', serif;
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  font-family: 'Libre Baskerville', serif;
}

.login-button {
  padding: 0.5rem 1rem;
  font-family: 'Libre Baskerville', serif;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.login-button:hover {
  background-color: #000;
  color: #fff;
}