.ideas-page {
  padding: 1.25rem;
  font-family: 'Libre Baskerville', serif;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.25rem;
  padding: 5rem 0rem 0rem 0rem;
}

.background-card {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: -webkit-fill-available;
}

.search-bar {
  display: flex;
  background: #ffffff;
  justify-content: center;
  margin-bottom: 1.25rem;
  margin-bottom: 0.1rem !important;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  margin: 1rem 0 1rem 0;
}

.quick-filters {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.reset-filters {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.idea-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.idea-card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(20% - 1.25rem);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
}

.idea-card:hover {
  transform: translateY(-0.313rem);
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.625rem;
  align-items: center;
}

.card-body {
  flex: 1;
}

.card-body p {
  font-size: 0.9rem;
  color: #333;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.625rem;
}