body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
